body{
    height : 100vh;
    display : grid;
    place-items : center;
    margin : 0;
    font-size : 1rem;
    background-color : #eeeeee;
    font-family : 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}